body {
  box-sizing: border-box;
}
.box {
  background-color: gray;
  color: black;
  font-weight: normal;
  width: 80px;
  max-width: 80px;
  display: inline-block;
  margin: 10px;
  padding: 2px;
  border: black;
  border-style: solid;
  border-radius: 5px;
  text-align: center
}
.descriptive {
  background-color: lightgray;
  color: black;
}
